@model List<NEW.Models.EventModel>
    @{
        ViewBag.Title = "tableEvents";
    }

    <h2>tableEvents</h2>

    <table>
        <tr>
            <th>Id</th>
            <th>Ime</th>
            <th>Lokacija</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var eventItem in Model)
        {
            <tr>
                <td>@eventItem.Id</td>
                <td>@eventItem.Name</td>
                <td>@eventItem.Location</td>
                <td>
                    <!-- Edit button -->
                    <a href="@Url.Action("updateEvent", "Event", new { i = eventItem.Id })">Edit</a>
                </td>
                <td>
                    <!-- Delete button -->
                    <form action="@Url.Action("deleteEvent", "Event",new {i = eventItem.Id})" method="post">
                        @Html.Hidden("eventId", eventItem.Id)
                        <button type="submit">Delete</button>
                    </form>

                </td>
            </tr>
        }
    </table>
